* {
    box-sizing: border-box;
  }
  
  .column {
    float: right;
    width: 25%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .container{
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: bolder;
    font-size: 2vw;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 10px;
    background-image: linear-gradient(to right, skyblue, white);
    font-family: 'Noto Sans Hebrew', sans-serif;
  }
  