.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.center{
    position: relative;
    border-radius: 50%;
}
.center img{
    transition: all linear 0.7s;
}
img.hover-img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 50%;
}
.center:hover img{
    opacity: 0;
}
.center:hover img.hover-img{
    opacity: 1;
}
.shadow{
    background-color: black;
    text-align: center;
}
.shadow:hover{
    background-color: goldenrod;
    color: white;
}