* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e2f;
  color: silver;
  font-family: 'Noto Sans Hebrew', sans-serif;
}

h1, h2{
  font-family: 'Noto Sans Hebrew', sans-serif;
  margin-bottom: 15px;
}

.container {
  max-width: 1140px;
}

header .logo {
  margin-bottom: 20px;
}

nav.navbar {
  justify-content: center;
  padding: 20px 0;
  background-color: #212529;
}

nav.navbar a.navbar-brand {
  color: #f8f9fa;
  font-size: 1.2rem;
  margin: 0 15px;
}

nav.navbar a.navbar-brand:hover {
  color: #ffb703;
}

footer {
  background-color: #343a40;
}

article {
  background-color: #f8f9fa;
  color: #343a40;
}

article h1, article h2 {
  color: #343a40;
}

.btn-warning {
  font-family: 'Rubik Bubbles', cursive;
  border-radius: 15px;
}

.card {
  border-radius: 15px;
  margin-bottom: 20px;
}

.card img {
  border-radius: 15px 15px 0 0;
}

#showMe .col-md-4 {
  margin-bottom: 20px;
}

.bg-danger {
  background-color: #dc3545 !important;
}

.bg-info {
  background-color: #17a2b8 !important;
}
.card-body {
  background-color: white;
  color: black;
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}
