.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* הבטחה שהקונטיינר לא יעבור את הרוחב של המסך */
    margin: 0 auto;
    padding: 20px 0;
    overflow-x: hidden; /* ביטול גלילה אופקית */
}

.timeline-card {
    width: 90%; /* הקטנת הרוחב ל-90% על מנת למנוע גלישה */
    max-width: 500px; /* הבטחה שהכרטיסים לא יעלו על רוחב קבוע */
    margin-bottom: 40px;
    padding: 20px;
    background-color: #f1c40f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .timeline-card {
        width: 95%; /* התאמת רוחב הכרטיסים למכשירים ניידים */
    }

    .timeline::after {
        display: none;
    }
}
