img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  .map {
    margin:10px;
    border:5px solid red;
    position: relative;
    display: inline-block;
  
  }
  
  .map img {
    max-width:100%;
    display: block;
  }
  
  .box {
    width:8%;
    height:8%;
    background-image:   url(http://www.clker.com/cliparts/W/0/g/a/W/E/map-pin-red.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
  
  #pin-1 {
    top:36%;
    left:54%;
  }
  #pin-2 {
    top:32%;
    left:29%;
  }
  .box:hover > .pin-text {
    display: block;
  }
  
  .pin-text {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:75%;
    white-space:nowrap;
    display: none;
  }
  
  .pin-text h3 {
      color:white;
      text-shadow: 1px 1px 1px #000;
      background-color: blue;
  }
  .pin-text p {
    color:white;
    text-shadow: 1px 1px 1px #000;
    background-color: blue;
}