ul {
    list-style: none;
    overflow: hidden;
    background-color: #7ebeff;
    text-align: center;
    padding: auto;
    margin: 25px;
  }
  
  li {
    font-family: 'Noto Sans Hebrew', sans-serif;
    font-weight: bolder;
    text-align: center;
    display: inline-block;
  }
  
  li a {
    display: block;
    padding: 8px;
    width: 16.66%;
    color: black;
    text-decoration: none;
    font-family: 'Rubik Vinyl', cursive;
  }
  a{
    color: black(255, 255, 255);
    font-family: 'Rubik Vinyl', cursive;
    text-decoration: none;
  }
  a:hover{
    color: yellow;
    transition: 1s;
  }
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
  