header{
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgb(255, 76, 76);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
button{
    font-family: 'Rubik Bubbles', cursive;
    border-radius: 15px;
}
button:hover{
    background-color: yellow;
    color: blue;
}
textarea{
    background-color: rgb(228, 228, 228);
    border: 2px black;
}
input{
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
}
button:hover{
    background-color: yellow;
    color: blue;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

h1, h2, h3, p, a{
    font-family: 'Rubik Bubbles', cursive;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#compass{
    animation: rotate 10s linear infinite;
    margin: 20px;
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    }
    
    @keyframes rotate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(359deg);
        }
    }

    .id {
        max-width: 400px;
        background-color: white;
        padding: 20px;
        margin: auto;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
        border-radius: 10px; /* Rounded corners */
    }
    
    .hero-info {
        color: rgb(31, 103, 21);
        display: block;
        margin: auto;
        padding: 10px;
    }
    .id img{
        width: 300px;
        height: 300px;
        display: block;
        margin: auto;
        border-radius: 25px;
        border: dotted blue;
    }
    

.containerHead {
    display: flex;
    flex-direction: column; /* Default to column layout */
    align-items: center;
    width: auto;
  }
  .logo img {
    max-width: 100%; /* Set maximum width to 100% */
    height: auto;
  }
  #desc {
    padding: 20px;
    text-align: center;
  }
  .title {
    margin: 0;
  }

  @media (min-width: 768px) {
    .containerHead {
      flex-direction: row; /* Switch to row layout on larger screens */
      justify-content: space-between;
      align-items: center;
    }
    .logo img {
      max-height: 15px; /* Set maximum height for the image on desktop */
    }
    #desc {
      width: 80%;
      padding: 0;
      text-align: left;
    }
  }

  .random {
    background-color: blue;
    display: flex; /* Use flexbox for centering vertically */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100%; /* Ensure the container takes full height of its parent */
    border-radius: 10px;
}

/* Ensure the .random image doesn't exceed its container */
.random img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 400px;
    display: block;
}