    body{
      background-color: brown(66, 66, 255);
      background-image: linear-gradient(brown, orange);
    }
header{
    width: auto;
    height: auto;
    text-align: center;
    background-color: rgb(255, 140, 0);
}
header:hover{
    opacity: 0.5;
    transition: 2s;
    background-color: rgb(41, 112, 0);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
button{
    font-family: 'Rubik Bubbles', cursive;
    border-radius: 15px;
}
button:hover{
    background-color: yellow;
    color: blue;
}
textarea{
    background-color: rgb(228, 228, 228);
    border: 2px black;
}
input{
    background-color: rgb(228, 228, 228);
    border-radius: 25px;
}
button:hover{
    background-color: yellow;
    color: blue;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

h1, h2, h3, p, a{
    font-family: 'Rubik Bubbles', cursive;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#compass{
    animation: rotate 10s linear infinite;
    margin: 20px;
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    }
    
    @keyframes rotate{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(359deg);
        }
    }